@import '/src/variables.scss';


.wrapper {
	grid-area: sidebar;
	margin-left: 20px;

	.inner {
		position: sticky;
		top: 0;
	}

	h2 {
		border-bottom: 3px solid $main-color;
		margin-bottom: 10px;
	}
}