@import '/src/variables.scss';


.wrapper {
	grid-area: sidebar;
	padding-left: $main-padding;
	border-left: 1px solid rgb(180, 180, 180);

	h1 {
		border-bottom: 3px solid $main-color;
		margin-bottom: 10px;
	}
}