@import '/src/variables.scss';


.wrapper {
	list-style: none;
	display: block;

	a {
		display: block;
		text-decoration: none;
		color: black;
		font-size: 15px;
		padding: 10px 20px;

		&:hover {
			border-left: 3px solid $main-color;
		}
	}
}