.wrapper {
	width: 250px;
	height: 400px;
	padding: 8px;
	box-sizing: border-box;
	
	border: 1px solid rgb(202, 202, 202);
	border-radius: 3px;

	display: grid;
	grid-template-rows: 4fr 1fr;
	grid-template-columns: 1fr;

	.link {
		color: black;
		text-decoration: none;
		font-weight: bold;

		.image {
			width: 100%;
		}
	}

	.unclickable {
		display: flex;
		flex-direction: column;
		justify-content: end;

		.prices {
			font-size: 20px;

			.regularPrice {
				margin-right: 10px;

				&.notActual {
					text-decoration: line-through;
					font-size: 18px;
					color: adjust-color($color: black, $lightness: 50%);
				}
			}
		}
	}

	
}