@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins&display=swap');
// https://fonts.google.com/share?selection.family=Fira%20Sans:wght@300;500%7CPoppins


* {
	margin: 0;
	padding: 0;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}