.wrapper {
	display: grid;
	grid-template-columns: auto;
	row-gap: 30px;

	.imageOuter {
		display: flex;
		justify-content: center;

		.image {
			height: 200px;
		}
	}

	.selectImageOuter {
		.selectImage {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
	}

	.numInputs {
		display: flex;
		flex-direction: row;

		input[type=number] {
			width: 150px;
			margin-right: 50px;
		}
	}
}